/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
  --hight-light-green: #689a57;
  --light-green1: #fcfcef;
  --light-green2: #e1f0d4;
}

body {
  --ion-background-color: var(--light-green2); /* 全局背景变量 */
  background-color: var(--light-green2);
}

ion-content {
  --background: var(--light-green2); /* 影响所有页面内容背景 */
  --border: none;
}

ion-toolbar {
  --border-color: var(--light-green2); 
  --background: var(--light-green2);       /* header 背景色 */
  --color: #333;               /* header 文字颜色 */
  --border-width: 4px 0;
}

ion-tab-bar {
  --background: var(--light-green2);       /* tab 栏背景色 */
  --color: #999;               /* tab icon 默认颜色 */
  --color-selected: var(--hight-light-green);   /* tab icon 激活颜色 */
  --border: none;
}

ion-card {
  border-radius: 24px;
  overflow: hidden; /* 保证内容也遵循圆角 */
  background-color: #fcfcee;
  box-shadow: none;
}